<nav class="py-4 bg-secondary bg-gradient text-center ">
  <a class="navbar-brand" href="#">BOOK-Store</a>
    <a class="h5 text-decoration-none mx-1" href="/">HOME</a>
    <a class="h5 text-decoration-none mx-1" href="/create">ENTRY</a>
    <a class="h5 text-decoration-none mx-1" href="/readall">LIBRARY</a>
    <a class="h5 text-decoration-none mx-1" href="/about">ABOUT</a>
  </nav>