<%- include("./partials/header") %>

<h1>about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas est odit ullam facilis itaque? Numquam qui fugit hic. Obcaecati dolorum consectetur voluptatem atque libero sint earum tempora cum, in velit!</p>

<%- include("./partials/footer") %>

   