<%- include("./partials/header") %>

<h1 class="text-center my-3 text-uppercase fw-bold">Update</h1>
    <!-- <form action="/create" method="post">
        <input type="text" placeholder="enter book name" name="name"> <br><br>
        <input type="text" placeholder="auther name" name="auther"> <br><br>
        <input type="text" placeholder="price" name="price"> <br><br>
        <button>add book</button>
    </form> -->

    

    <form action="/update" method="post" class="text-center w-50 m-auto p-5 rounded bg-secondary">
        <div  class="mb-3 m-auto ">

          <label for="enter book name" class="form-label">book name</label>
          <input
          class="form-control form-control m-auto w-50"
          type="text"
          placeholder=""
          value="<%= book.name %>"
          name="name"
      />
  
      <label for="Author Name" class="form-label">Author Name</label>
      <input
          class="form-control  form-control m-auto w-50"
          type="text"
          name="author"
      />
  
      <label for="Book Price" class="form-label">Book Price</label>
      <input
          class="form-control  form-control m-auto w-50"
          type="text"
          name="price"
      />
  
      <label for="Book Quantity" class="form-label">Book Quantity</label>
      <input
          class="form-control  form-control m-auto w-50"
          type="text"
          name="quantity"
      />
  
      <label for="Book Category" class="form-label">Book Category</label>
      <input
          class="form-control  form-control m-auto w-50"
          type="text"
          name="category"
      />
  
      <label for="Book Language" class="form-label">Book Language</label>
      <input
          class="form-control  form-control m-auto w-50"
          type="text"
          name="language"
      />
  
      <label for="enter text here..." class="form-label">enter text here...</label>
      <textarea
          class="form-control  form-control m-auto w-50"
          name="description"
          id=""
          cols="30"
          rows="10"
      ></textarea>
  
        </div>
        
       
        <button type="submit" class="btn btn-primary ">Update book</button>
      </form>

      

<%- include("./partials/footer") %>
